@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

p {
    color: #333;
}

/* Transition */

a, .btn {
    transition: all 0.3s ease;
}


/*Desktop Nav */

#desktop-nav img {
    width: 1rem;
    height: 1rem;
}

#desktop-nav a {
    text-decoration: none;
    color: #333;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7.6rem;
    font-size: 0.75rem;
}


#desktop-nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    width: 100vw;
    background-color: #fffffffd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dropdown Menu */

.dropdown-menu-items {
    width: 100vw;
    padding-top: 3rem;
}

.dropdown-menu-items h2 {
    font-weight: 100;
    font-size: 0.8rem;
    color: #6d6d6d;
    padding-bottom: 1rem;
}



.dropdown-menu-items li {
    list-style: none;
    padding: 0.2rem 0;
}



.dropdown-menu-items a {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.more a {
    font-size: 0.85rem;
    color: #1b1b1b;
    font-weight: 500;
}

.item-dropdown {
    display: flex;
    gap: 5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 3rem 12rem;
    width: 100vw;
    display: none;
}

.modified {
    margin-top: 1rem;
}



/*General Section Styles*/

h2 {
    font-size: 3.4rem;
    margin-top: 2.8rem;
    margin-bottom: 0.45rem;
}

.section-h2 {
    font-size: 1.7rem;
    color: #222;
    margin-bottom: 0.48rem;
}

.btn {
    background-color: rgb(12, 112, 226);
    color: #fff;
    border: none;
    border-radius: 3rem;
    outline: none;
    margin-top: 0.45rem;
    font-size: 1.1rem;
    width: 8.3rem;
    padding: 0.8rem;
    cursor: pointer;
}

.all a {
    text-decoration: none;
    color: #222;
}

.section-headers {
    display: block;
    align-items: center;text-align: center;
}


/*Iphone Section*/

#iphone {
    height: 85.7vh;
    width: 100vw;
    border-bottom: #fff solid 0.8rem;
}


/*MacBook Section*/

#mac {
    padding-top: 3rem;
    padding-bottom: 10rem;
    height: 89.7vh;
    width: 100vw;
    border-bottom: #fff solid 0.8rem;
    background: linear-gradient(to top left, white, rgb(198, 239, 255));
}


/*iPad Section*/

#ipad {
    padding-top: 2rem;
    padding-bottom: 20rem;
    height: 91vh;
    width: 100vw;
    border-bottom: #fff solid 0.8rem;
    background: linear-gradient(to top left, white, rgb(161, 228, 255));
}

.ipad-image {
    margin-bottom: 1rem;
}

.ipad-span {
    color: #0c70e2;
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


/* Multiple Grid section*/

#more {
    width: 100vw;
}

#more h3 {
    font-size: 2.5rem;
    color: #222;
}

#more .L2 h3 {
    color: #fff;
}

#more .L2 p {
    color: #e6e4e4;
}

#more .L3 h3 {
    color: #fff;
}

#more .L3 p {
    color: #e6e4e4;
}

#more a {
    text-decoration: none;
}

.more-para {
    font-size: 1.3rem;
    color: #222;
}

.more-btn {
    background-color: #0c70e2;
    color: #fff;
    border: none;
    border-radius: 3rem;
    outline: none;
    margin-top: 0.9rem;
    font-size: 0.9rem;
    width: 6.4rem;
    padding: 0.7rem;
    cursor: pointer;
}

.main-more {
    display: flex;
    flex-wrap: wrap;
}

.more-grid {
    width: 42rem;
    padding: 3rem 0 0 0;
    text-align: center;
}

.more-grid-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.L1-img {
    margin: 3rem 0 1rem 0;
}

.L2-img {
    margin: 1.5rem 0 1rem 0;
}

.L3-img {
    margin: 1rem 0 1rem 0;
}

.L4-img {
    margin: 0 0 1rem 0;
}



.L1 {
    border-style: solid;
    border-width: 0 0.4rem 0.8rem 0.8rem;
    border-color: #fff;
}
.L2 {
    background-color: #000;
    border-style: solid;
    border-width: 0 0.8rem 0.8rem 0.4rem;
    border-color: #fff;
}
.L3 {
    background-color: #000;
    border-style: solid;
    border-width: 0 0.4rem 0.8rem 0.8rem;
    border-color: #fff;
}
.L4 {
    border-style: solid;
    border-width: 0 0.8rem 0.8rem 0.4rem;
    border-color: #fff;
}



/*Bottom Section*/

#bottom {
    width: 100vw;
    padding: 1.5rem 0 0 12rem;
    margin: 0 auto;
}

#bottom li {
    list-style: none;
    font-size: 0.75rem;
}

#bottom h3 {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    color:#313131;
}


.bottom-main {
    display: flex;
    gap: 9rem;
    margin-bottom: 2rem;
}

.bottom-child {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bottom-child a {
    text-decoration: none;
    color: #1b1b1bb8;
}

.bottom-child ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#bottom p a {
    font-size: 0.75rem;
    color: #0066CC;
}

#bottom p {
    font-size: 0.75rem;
    color: #0000008F;
    margin-bottom: 1.5rem;
}

hr {
    width: 82%;
    border: none;
    background-color: #bebebe;
    height: 0.01rem;
    margin-bottom: 1.2rem;
}



/* Footer*/

#footer {
    width: 100vw;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
}

.footer-content p {
    margin-left: 12rem;
    color: #6d6d6dd3;
}

.footer-content a {
    text-decoration: none;
    color: #6d6d6d;
}

.footer-content :nth-child(2) {
    margin-left: 1.2rem;
    padding-right: 0.6rem;
    border-right: #6d6d6d solid 0.01rem;
}

.footer-content :nth-child(4) {
    margin-left: 31rem;
}


/*Button hovers*/

.btn:hover, .more-btn:hover {
    background-color: #55a3fc;
    color: black;
    transition: all 0.4s ease;
}